@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) {
  .mapboxgl-map {
    margin-bottom: -3px !important;
  }
  
html {
  scroll-behavior: smooth;
}

@keyframes wave-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave {
  animation: wave-scroll 6s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

svg {
  shape-rendering: geometricPrecision;
}



}



